<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            </ul>
        </div>
    </div>
</nav>

<script>

    if (localStorage.getItem("token")) {
        document.querySelector("ul.navbar-nav").innerHTML = `
            <li class="nav-item">
                <a class="nav-link" href="/perfil">Perfil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/user/tareas">Tareas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Usuarios</a>
            </li>
            <li class="nav-item">
                <button class="btn btn-warning ms-2" onclick="logout()">Cerrar Sesión</button>
            </li>
        `;
    } else {
        document.querySelector("ul.navbar-nav").innerHTML = `
            <li class="nav-item">
                <a class="nav-link" href="/tareas">Tareas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/registro">Registrarme</a>
            </li>
        `;
    }
    
    // active class for navbar
    const activeLink = document.querySelector(`[href='${window.location.pathname}']`);
    // if active link is not null, add class active
    activeLink ? activeLink.classList.add("active") : null;

    function logout() {
        localStorage.removeItem("token");
        localStorage.removeItem("user");
        location.replace('/');
    }
</script>