<div class="py-4">
  <h2>Administración</h2>
  <hr class="w-50 mx-auto" />

  <table class="table table-dark w-100 m-auto">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Foto</th>
        <th scope="col">Nombre</th>
        <th scope="col">Email</th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{this.id}}</td>
        <td>
          <div style="background-image: url({{this.foto}});"></div>
        </td>
        <td>{{this.name}}</td>
        <td>{{this.email}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>